.crop-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#detailLabel .crop-container {
    width: 40px !important;
    height: 40px !important;
}

.mini .crop-container {
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.crop-container img {
    width: 200%;
}


.star:hover{
    transform: scale(1.5);
}

.bmp {
    font-size:4px;
}

.cut {
    margin-top: -56px;
    margin-bottom: -56px;
}


.bordlessTable {
    margin: auto;
    max-width: 95%;
    /*border: 1px solid black;*/
}

.bordlessTable > tbody > tr > td {
    border: 1px solid pink;
    padding-left: 6px;
    padding-right: 6px;
}

#detailContent .desciText {
    display: flex !important;;
    justify-content: center !important;
}


.desciText {
    font-size: 150%;
    text-align: center;
    /*border: 1px solid red;*/
}

.evolved {
    font-weight: bolder;
    color: red;
}

.menu {
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 150%;
}