.header {
    border: none;
    width: auto;
    height: 3em;
    overflow: hidden;
    margin-bottom: -2em;
}

.container {
    max-width: 1200px;
    width: 95%;
}

.centerModal .modal-dialog {
    top: 25% !important;
    font-family: Arial, Helvetica, sans-serif;;
    width: 25em;
    line-height: 1em;
    text-align: center;
}

.lefter {
    font-size: 150%;
    float: left;
}
.righter {
    font-size: 150%;
    float: right;
}
.modal-body .row-container {
    text-align: center;
    margin: auto;
}
.lefter2{
    float: left;
    width: 54%;
    margin-left: 0.5%;
}
.righter2{
    float: right;
    width: 41%;
    margin-right: 2%;
}
.detailATableContainer/*, .detailPTableContainer*/ {
    width: 85%;
    margin: auto;
}
.autoBr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blinking{
    font-weight: bold;
    animation:blinkingText 0.5s infinite alternate;
}

@keyframes blinkingText{
    0%{		color: orangered;	}
    100%{	color: gold;	}
}

.blinking .logo {
    position: relative;
    animation:blinkingLogo 0.5s infinite alternate;
}

@keyframes blinkingLogo {
    0% {bottom: 0em;}
    100% {bottom: 0.5em;}
}

.imgButton {
    min-width: 11%;
}

.imgButton input[type=checkbox] {
    display:none;
}

.imgButton input[type=checkbox] + label img{
    filter: grayscale(100%);
    opacity: 0.5;
}

.imgButton input[type=checkbox]:checked + label img{
    filter:none;
    opacity: 1;
}

.crop-container {
    width: 4em;
    height: 4em;
    overflow: hidden;
}

.mini .crop-container {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
}
.crop-container img {
    width: 200%;
}

.flexer {
    display: flex;
    flex-wrap: wrap;
}

.star:hover{
    transform: scale(2);
}

.bmp {
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.25em;
    line-height: 0.875em;
}

.logo {
    height: 1em;
}

.logo-lg {
    width: 2.5em;
}

#detailLabel .crop-container {
    width: 1.5em !important;
}

.star:hover{
    transform: scale(1.5);
}

.cut {
    margin-top: -56px;
    margin-bottom: -56px;
}

.bordlessTable {
    margin: auto;
    max-width: 95%;
    /*border: 1px solid black;*/
}

.bordlessTable > tbody > tr > td {
    border: 1px solid pink;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.desciText {
    font-size: 150%;
    text-align: center;
    /*border: 1px solid red;*/
}

#detailContent .desciText {
    display: flex !important;;
    justify-content: center !important;
}

.evolved {
    font-weight: bolder;
    color: red;
}

.menu {
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 150%;
}
